@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes disappear {
  from {
    opacity: 100;
  }
  to {
    opacity: 100;
  }
}
